<!DOCTYPE HTML>
<html>
 <head>
  <title>Flask-SocketIO Test</title>
  <a href="http://192.168.1.125/graphSQL">Load archived data from SQL</a>
  <a href="http://192.168.1.125/graphFile">Load archived data from File</a>
   <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
   <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
   <script src="static/libs/gauge.min.js"></script>
   <script src="static/libs/plotly-latest.min.js"></script>
   <script type="text/javascript" charset="utf-8">
      var timestamp = new Array();
      var temp = new Array();
	  var humid = new Array();

     $(document).ready(function() {
      var gaugeTemp = new RadialGauge({
        renderTo: 'canvasIDTemp',
        width: 300,
        height: 300,
        units: "Km/h",
        minValue: -20,
        maxValue: 80,
        majorTicks: ["-20", "-10", "0", "10", "20", "30", "40", "50", "60", "70", "80"],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [
            {
                "from": 40,
                "to": 80,
                "color": "rgba(200, 50, 50, .75)"
            }
        ],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 2,
        needleCircleSize: 7,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear"
      });
      gaugeTemp.draw();
      gaugeTemp.value = "0";
	  
	  var gaugeHumidity = new RadialGauge({
        renderTo: 'canvasIDHumidity',
        width: 300,
        height: 300,
        units: "Km/h",
        minValue: 0,
        maxValue: 100,
        majorTicks: ["0", "10", "20", "30", "40", "50", "60", "70", "80", "90", "100"],
        minorTicks: 2,
        strokeTicks: true,
        highlights: [
            {
                "from": 80,
                "to": 100,
                "color": "rgba(50, 50, 200, .75)"
            }
        ],
        colorPlate: "#fff",
        borderShadowWidth: 0,
        borders: false,
        needleType: "arrow",
        needleWidth: 2,
        needleCircleSize: 7,
        needleCircleOuter: true,
        needleCircleInner: false,
        animationDuration: 1500,
        animationRule: "linear"
      });
      gaugeHumidity.draw();
      gaugeHumidity.value = "0";

	 
      namespace = '/test';
      var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

      socket.on('connect', function() {
        socket.emit('my_event', {data: 'I\'m connected!', value: 1}); });

      socket.on('my_response', function(msg) {
        console.log(msg);
		DataJSON = JSON.parse(msg);
        $('#log').append('Received #'+DataJSON.temperature+'<br>').html();  
	    
		gaugeTemp.value = parseFloat(DataJSON.temperature);
		gaugeHumidity.value = parseFloat(DataJSON.humidity);
		
		if (DataJSON.position == 1) {
		  epochDate = Date(DataJSON.timestamp*1000);
		  timestamp.push(epochDate);
		  temp.push(parseFloat(DataJSON.temperature));
          humid.push(DataJSON.humidity);
		}
		
          traceTemp = {
              x: timestamp,
              y: temp,
          };       
          layout = {
            title: 'Temperature on sensor 1',
            xaxis: {
                title: 'Time [s]',
            },
            yaxis: {
                title: 'Temperature [C]',
                //range: [-1,1]
            }
        };
	  	
	  	traceHumid = {
              x: timestamp,
              y: humid,
          };       
          layout = {
            title: 'Humidity on sensor 1',
            xaxis: {
                title: 'Time [s]',
            },
            yaxis: {
                title: 'Humidity [%]',
                //range: [-1,1]
            }
        };
		
		
        var tracesTemp = new Array();
		var tracesHumid = new Array();
        tracesTemp.push(traceTemp);
		tracesHumid.push(traceHumid);
        Plotly.newPlot($('#plotdivTemp')[0], tracesTemp, layout); 
	 	Plotly.newPlot($('#plotdivHumid')[0], tracesHumid, layout); 
		
	  });
		  


      $('form#emit').submit(function(event) {
          socket.emit('my_event', {value: $('#emit_value').val()});
          return false; });
		  
      $('form#disconnect').submit(function(event) {
          socket.emit('disconnect_request');
          return false; });         
      });
	  
	  $('form#connect').submit(function(event) {
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('connect', function() {
          socket.emit('my_event', {data: 'I\'m connected!', value: 1}); 
        return false; });         
      });
    </script>
 </head>
 <body>
  <h1>Flask-SocketIO Test</h1>
  <h2>Send:</h2>
  <form id="emit" method="POST" action='#'>
    <input type="text" name="emit_value" id="emit_value" placeholder="Amplituda">
    <input type="submit" value="Send">
  </form>
  <form id="disconnect" method="POST" action="#">
    <input type="submit" value="Disconnect">
  </form> 
  <canvas id="canvasIDTemp"></canvas>
  <canvas id="canvasIDHumidity"></canvas>
  <div id="plotdivTemp" style="width:600px;height:250px;"></div>
  <div id="plotdivHumid" style="width:600px;height:250px;"></div>
  <h2>Receive:</h2>
  <div style="height:400px;width:800px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;" id="log"></div>
 </body>
</html>
